<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

  <Identity Name="LocalSendDotNet.App" Publisher="CN=kusutori" Version="0.1.3.0" />

  <Properties>
    <DisplayName>LocalSendDotNet</DisplayName>
    <PublisherDisplayName>LocalSendDotNet</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
    <Resource Language="zh-cn" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="LocalSendDotNet.App.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="LocalSendDotNet"
        Description="Send files and text to nearby LocalSend devices."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          ShortName="LocalSendDotNet"
          Square71x71Logo="Assets\Square71x71Logo.png"
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Send with LocalSend">
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>StorageItems</uap:DataFormat>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>Uri</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="LocalSendDotNet.App.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="LocalSendStartup"
            Enabled="false"
            DisplayName="LocalSend" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
